{
    "mnemonic": "",
    "privateKeyTestnet": "",
    "privateKeyMainnet": "",
    "moonbeamScanApiKey": "",
    "blockScoutApiKey": "",
    "polygonScanApiKey": "",
    "mumbaiRPC": "https://polygon-mumbai.gateway.tenderly.co",
    "sepoliaRPC": "https://sepolia.gateway.tenderly.co",
    "etherScanApiKey": "",
    "baseScanApiKey": ""
}
